* {
  font-family: "Roboto", sans-serif;
  color: #252525;
}
h5 {
  font-weight: 700;
}

/* Bootstrap override */
.form-control:focus {
  border-color: #cccccc !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Not Found */
#not-found-div {
  display: none;
}
/* Search Input */
#search-button {
  background-color: #f06c4e !important;
  border-color: #f06c4e !important;
}
/* Individual recipe styles */
#individual-recipe {
  padding: 1em 0;
  display: none;
}
.recipe-image-parent {
  width: 100%;
  height: 400px;
}
#individual-recipe-image {
  border-radius: 1em;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#individual-recipe-title {
  font-weight: 900;
  margin: 0.2em 0;
  font-size: 36px;
}
#individual-recipe ul li {
  color: #6c6c6c;
  font-size: 16px;
}
#individual-recipe-ingredients {
  list-style: none;
}
#individual-recipe-ingredients li::before {
  content: "\2022";
  color: #f06c4e;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/*Search Results Card*/
#result-groups {
  margin-top: 1rem !important;
}
.recipe-card {
  border-radius: 1em !important;
  border: none !important;
  background-color: #f8f7f5 !important;
}
.recipe-card img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.recipe-card-title {
  font-size: 20px;
  font-weight: 700;
}

/*footer*/
#footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#footer p {
  margin-top: 5em;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #3e3e3e;
  font-weight: bold;
}
#footer a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #f06c4e;
  font-weight: bold;
}
#footer a:hover {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #ce5439;
  font-weight: bold;
}
